*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
hmtl{
    scroll-behavior: smooth;
}
.header{
    height: 100vh;
    background: url(../images/Hero-3.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

   

}
nav{
    height: 60px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-family: sans-serif;
    
    
}




nav ul{
    display: flex;
    list-style-type: none;
    padding-right: 3%;
    overflow: hidden;
    
}
nav ul li a{
    padding-left:60px;
}



nav a{
    color: #c2c7d8;
    font-size: 28px;
    
    
}
nav div a h2 {
    position: relative;
    left: 90%;
    width: 13%;
    font-size: 40px;
}
nav li a:hover{
    color:#5ff2d1

}
.home{
    font-size: 35px;
    color: #dadeec;
    position: relative;
    top: 20%;
    padding-left: 8%;
}
.text2{
    font-size: 48px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    
    
}
.green{
    color:#5ff2d1
}
.btn1{
    /* width: 13%; */
    font-size: 30px;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    border: 2px solid #5ff2d1;
    background-color: transparent;
    color: #5ff2d1;
    padding: 8px 20px;
}
.btn1 a{
    color: #5ff2d1;
}
.btn1:hover{
    background-color: #3a806e; 
    transition: 0.2s;
}
.about-sec{
    padding: 100px 0% 110px 0%;
    
    
}


.abm{
    font-size: 50px;
    font-weight: bold;
    padding-left: 20%;
    padding-bottom: 4%;
    color: #252e4d;
    
    
}
.test{
    background-color: #271849;

}
.abm::after{
    content: "---";
    

}
.aboutme{
    display: flex;
    margin-right: 20px;
    align-items: center;
    margin-left: 8%;
    
    
    

}

.aboutme:last-child{
    font-size: 30px;
    
    padding: 40px;
    color: #c2c7d8;
    padding-top: 6%;
    padding-bottom: 6%;
    
}
.aboutme img{
    width: 400px;
    height: 220px;
    padding-right:20%;
    
}
.secp{
    
    padding: 0px 0px 90px 0%;
    margin-bottom: 2%;

}

.fas{
    font-size: 40px;
    color: red;
    padding: 10px;
}
.projects-layout{
    font-size: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:#271849;
    padding-left: 8%;
     color:#c2c7d8;
     padding-top: 5%;
     padding-bottom: 5%;
     padding-right: 5%;
    
}
.projects h2{
    font-size: 50px;
    font-weight: bold;
    padding-left: 20%;
    padding-bottom: 4%;
    color: #252e4d;
    
}
.quizapp h3{
    color: white;
   
}
.quizapp{
    border: 1px solid #5ff2d1;
    padding: 40px 60px;
    
    
}
 .max-width{ 
    display: flex;
    justify-content: space-between;
    padding: 100px 0px 150px 8%;
    background-color:#271849;
    color: #c2c7d8;
    margin-bottom: 5%;
    
}
.skills h2{
    font-size: 50px;
    font-weight: bold;
    padding-left: 20%;
    padding-bottom: 4%;
    color: #252e4d;
}

.col{
    width: 70%;
    font-size: 30px;
    align-items: center;
}
.lan{
    margin-bottom: 15px;
    margin-top: 30px;
    padding-top: 10px;
    margin-right: 5px;
}
.info{
        display: flex;
        margin-bottom: 5px;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
}
.col-left h3{
    padding-bottom: 40px;
    color: white;
    ;
}
.col-left span{
     font-weight: 500;
     font-size: 30px;
}
.line{
    height:5px;
    width: 100%;
    background-color: lightgrey;
    position: relative;
}
.line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.html::before {
    width: 88%;
}

.css::before {
    width: 80%;
}

.js::before {
    width: 60%;
}
.bootstrap::before{
    width: 50%;
}

.main{
    padding-bottom: 9%;
    display: flex;
    justify-content: space-between;
    padding-left: 8%;
    color: #c2c7d8;
    background-color: #271849;
    padding-top: 5%;
    align-items: center;
    margin-bottom: 0%;
    flex-wrap: wrap;
   
}

.rightcol{
    width: 60%;
    padding-top: 3%;
    
    
}
.item1{
    display: flex;
    align-items: center;
    font-size: 30px;
    padding-bottom: 10px;
    
}
.leftcol h3{
    font-size: 33px;
    color: white;
    padding-bottom: 20px;
    
    
}

.subitem .head{
    font-weight: bold;
}
.subhead ,a{
    font-style: italic;
    font-size: 20px;
    color: #5ff2d1;

}
#add a i:hover{
   background-color: #3a806e;
   border: 1px solid #3a806e;
   border-radius: 3px;
}


.twin{
    display: flex;
    flex-wrap: wrap;
}
.field{
    height: 80px;
    
    
   
}
input[type=text] ,[type=email]{
    height: 45px;
    width: 400px;
}
.twin .name{
    padding-right: 10px;
}
.rightcol h3{
    font-size: 32px;
    color: white;
    padding-bottom: 20px;
}
.rightcol .message .textarea{
    width: 60px;
}
.contact-me h2{
    font-size: 50px;
    font-weight: bold;
    padding-left: 20%;
    padding-bottom: 4%;
    color: #252e4d;
}
footer {
    
    background:#f9fafd;
    padding: 15px 23px;
    color: rgb(20, 17, 17);
    text-align: center;
}

footer span a {
    color: crimson;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}