*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
hmtl{
    scroll-behavior: smooth;
}
.header{
    height: 100vh;
    background: url(../images/Hero-3.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

   

}
nav{
    height: 60px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-family: sans-serif;
    position: sticky;
    top: 0;
    
}


nav div{
    padding-left:8%;
    width: 13%;
    font-size: 30px;
}

nav ul{
    display: flex;
    list-style-type: none;
    padding-right: 3%;
    overflow: hidden;
    
}
nav ul li a{
    padding-left:60px;
}

nav a{
    color: #c2c7d8;
    
}
nav li a:hover{
    color:#5ff2d1

}
.home{
    font-size: 35px;
    color: #dadeec;
    position: relative;
    top: 20%;
    padding-left: 8%;
}
.text2{
    font-size: 48px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    
    
}
.green{
    color:#5ff2d1
}
.btn1{
    /* width: 13%; */
    font-size: 30px;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    border: 2px solid #5ff2d1;
    background-color: transparent;
    color: #5ff2d1;
    padding: 8px 20px;
}
.btn1 a{
    color: #5ff2d1;
}
.btn1:hover{
    background-color: #3a806e; 
    transition: 0.2s;
}
.about-sec{
    padding: 100px 0% 150px 0%;
    
    
}


.abm{
    font-size: 50px;
    font-weight: bold;
    padding-left: 20%;
    padding-bottom: 4%;
    color: #252e4d;
    
    
}
.test{
    background-color: #271849;

}
.abm::after{
    content: "---";
    

}
.aboutme{
    display: flex;
    margin-right: 20px;
    align-items: center;
    margin-left: 8%;

    
    

}

.aboutme:last-child{
    font-size: 30px;
    
    padding: 40px;
    color: #c2c7d8;
    
}
.aboutme img{
    width: 400px;
    height: 220px;
    padding-right:20%;
    
}
.secp{
    background-color:#271849;
    padding: 100px 0px 150px 0%;
    margin-bottom: 5%;

}
.projects{
    margin-left: 8%;
    color:#c2c7d8;
}
.fas{
    font-size: 40px;
    color: red;
    padding: 10px;
}
.projects-layout{
    font-size: 30px;
    display: flex;
    width: 90%;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.projects h2{
    color: white;
    font-size: 50px;
    padding-bottom: 40px;
    padding-left: 13%;
    text-shadow: 2px 2px 2px red;
    
}
.quizapp{
    border: 1px solid #5ff2d1;
    padding: 40px 60px;
    
    
}
 .max-width{ 
    display: flex;
    justify-content: space-between;
    padding: 100px 0px 150px 8%;
    background-color:#271849;
    color: #c2c7d8;
    margin-bottom: 5%;
}
.skills h2{
    font-size: 50px;
    font-weight: bold;
    padding-left: 20%;
    padding-bottom: 4%;
    color: #252e4d;
}

.col{
    width: 70%;
    font-size: 30px;
    align-items: center;
}
.lan{
    margin-bottom: 15px;
    margin-top: 30px;
    padding-top: 10px;
    margin-right: 5px;
}
.info{
        display: flex;
        margin-bottom: 5px;
        align-items: center;
        justify-content: space-between;
}
.col-left h3{
    padding-bottom: 40px;
    color: white;
    text-decoration: underline #5ff2d1;
}
.col-left span{
     font-weight: 500;
     font-size: 30px;
}
.line{
    height:5px;
    width: 100%;
    background-color: lightgrey;
    position: relative;
}
.line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.html::before {
    width: 88%;
}

.css::before {
    width: 80%;
}

.js::before {
    width: 60%;
}
.bootstrap::before{
    width: 50%;
}

